/* Empty. Add your own CSS if you like */

.bar-energized { background-color: #fcc70e; }
.button.button-balanced { background-color: #9db13b; border: none; }
.main-bar .bar .title, .main-bar .bar-energized .button { color: #0059a9; }

.footer-custom h1.title { font-size: 10px !important;}

.energized, a.energized {
    color: #fcc70e;
}

img.content-img-header  {
    width: 200px;
    margin: auto;
    display: block;
    max-width: 100%;
}

.menu-left .bar .spinner {
    position: absolute;
    right: 10px;
    top: 7px;
}