
body { background: #ffffff;}
.bar.bar-energized { background-color: #fcc70e; }
.button.button-balanced { background-color: #9db13b; color: #ffffff;}
.main-bar .bar .title, .main-bar .bar-energized .button { color: #0059a9; }

.energized, a.energized { color: #fcc70e; }

