
body { background: #fcfcfc;}
.bar.bar-energized { background-color: #EB353D; }
.button.button-balanced { background-color: #8FC549; color: #ffffff;}
.main-bar .bar .title, .main-bar .bar-energized .button { color: #fcfcfc; }

.energized, a.energized { color: #EB353D; }

