<ion-view view-title="Doação manual">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button icon button-icon ion-person"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a nav-direction="exit" class="button icon button-icon ion-qr-scanner" ng-click="goHome()"></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <form name="manualForm"> 
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Chave</span>
          <input type="text" name="chave" ng-model="chave" nota-chave
              placeholder="1234 5678 9012 3456 7890 1234 5678 9012 3456 7890 1234" ng-minlength="54" ng-maxlength="54" required>
        </label>
      </div>
      <div class="padding">
        <p ng-show="!chaveOK(manualForm)">
          A chave do cupom fiscal é uma sequência de 44 números.
        </p>
        <p class="balanced" ng-show="chaveOK(manualForm)">
          Chave OK!
        </p>
      </div>
      <div class="text-right">
        <button class="button button-balanced" ng-disabled="!chaveOK(manualForm)">
          Doar
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>