<ion-view view-title="Doação manual">

  <ion-nav-buttons side="left">
    <a nav-direction="exit" class="button icon button-icon ion-arrow-left-a" ng-click="goHome()"></a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <form name="manualForm" ng-submit="submitChave(chave)"> 
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Chave du cupom fiscal</span>
          <input type="text" name="chave" ng-model="chave" placeholder="1234 5678 9012 3456 7890 1234 5678 9012 3456 7890 1234" required>
        </label>
        <small class="small-chave">{{ printed_chave }}</small>
      </div>
      <div class="padding">
        <p class="assertive" ng-show="!chaveUFOK(manualForm)">
          O cupom fiscal deve ser emitido no Paraná
        </p>
        <p class="assertive" ng-show="!chaveLengthOK(manualForm)">
          A chave do cupom fiscal é uma sequência de 44 números.
        </p>
        <p class="assertive" ng-show="!chaveFormatOK(manualForm)">
          O formato da chave do seu cupom não parece correto.
        </p>
        <p class="balanced" ng-show="chaveOK(manualForm)">
          Chave OK!
        </p>
      </div>
      <div class="text-right">
        <button class="button button-balanced" ng-disabled="!chaveOK(manualForm)">
          Doar
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>