<ion-side-menus>

   <ion-side-menu side="left">
      <h1>Side Menu</h1>
   </ion-side-menu>

   <ion-side-menu-content>

     <ion-header-bar class="bar-energized">
      </ion-header-bar>
s
    <ion-nav-view name="menuContent"></ion-nav-view>

    <ion-footer-bar class="my_footer">
      <h1 class="title">Nota solid&#xE1;ria oferecida pelo <a href="https://www.facebook.com/Code-For-Curitiba-728703680591258" target="_system">Code For Curitiba</a></h1>
    </ion-footer-bar>

   </ion-side-menu-content>

    

</ion-side-menus>
