<ion-side-menus>

   <ion-side-menu side="left">
      <ion-header-bar class="bar-dark">
        <h1 class="title">Perfil </h1>
        <ion-spinner icon="spiral" class="spinner" ng-show="syncing"></ion-spinner>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <input type="text" ng-model="user.name" placeholder="João Da Silva" ng-change="updateProfile(user)">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Telefone</span>
            <input type="tel" ng-model="user.fone" placeholder="41 9876 5432" ng-change="updateProfile(user)">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email" placeholder="joao@angel.br" ng-change="updateProfile(user)">
          </label>
          <div class="item item-divider  item-button-right" ng-if="hasNotas(user)">
            Histórico de doações
            <button class="button button-clear button-dark" ng-click="removeNotas(user)">
              <i class="icon ion-trash-b"></i>
            </button>
          </div> 
          <ion-item ng-repeat="nota in user.notas">
            <small>{{nota.print_nfe}}</small>
            <p ng-show="nota.value">Valor: R${{nota.value}}</p>
            <p ng-show="nota.cnpj">Emissor: {{nota.print_cnpj}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
   </ion-side-menu>

   <ion-side-menu-content>

    <ion-nav-bar class="main-bar bar-energized">
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

    <ion-footer-bar class="footer-custom">
      <h1 class="title">Nota solid&#xE1;ria oferecida pelo <a href="https://www.facebook.com/Code-For-Curitiba-728703680591258" target="_system">Code For Curitiba</a></h1>
    </ion-footer-bar>

   </ion-side-menu-content>

    

</ion-side-menus>
