
<ion-view view-title="{{theme.title}}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button icon button-icon ion-person"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button icon button-icon ion-navicon-round"></button>
    <!--a nav-direction="enter" class="button icon button-icon ion-edit" ng-click="goManual()"></a-->
  </ion-nav-buttons>

  <ion-content>
      <div class="padding">
        <img src="themes/{{theme.name}}/logo.png" class="content-img-header"/>
        <button class="button button-block button-balanced icon-left ion-grid"  ng-click='scan()'>
          Escanear uma nota
        </button>
        <button class="button button-block button-balanced icon-left ion-edit" ng-click="goManual()">
          Doação manual
        </button>
      </div>
  </ion-content>

</ion-view>