/* Empty. Add your own CSS if you like */

.bar.bar-energized { background-color: #EB2B30; }
.button.button-balanced { background-color: #83BF38; border: none; }
.main-bar .bar .title, .main-bar .bar-energized .button { color: white; }

.footer-custom h1.title { font-size: 10px !important;}

.energized, a.energized {
    color: #EB2B30;
}

img.content-img-header  {
    width: 300px;
    margin: auto;
    display: block;
    max-width: 100%;
}

.menu-left .bar .spinner {
    position: absolute;
    right: 10px;
    top: 7px;
}

.small-chave {
    text-align: center;
    width: 100%;
    display: block;
    color: grey;
}